<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning_log</title>
</head>
<body>
    <p>
        <a href="{% url 'learning_logs:index' %}">Learning Log</a>
        <a href="{% url 'learning_logs:topics' %}">Topics</a>
        <!-- No sistema de autenticação de Django, o conjunto de
         templates tem uma variável 'user' diponível. -->
        {% if user.is_authenticated %}
            Hello, {{ user.username }}.
            <a href="{% url 'users:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'users:register' %}">Register</a>
            <a href="{% url 'users:login' %}">Login</a>
        {% endif %}
    </p>
    {% block content %}
    {% endblock content %}
</body>
</html>