{% extends "learning_logs/base.html" %}
{% block content %}
    <p>Add a new topic:</p>
        <form action="{% url 'learning_logs:new_topic' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Add topic</button>
    </form>
{% endblock content %}
