{% extends 'learning_logs/base.html' %}
{% block content %}
    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button name="submit">Register</button>
        <!-- Elemento de formulário oculto 'next', o argumento 'value' diz
        para onde devemos ir ao fazer cadastro -->
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
{% endblock content %}